@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* margin: 50px 10%; */
}

/* shared style */
.orange-text{
    color: #E95A08;
}
.p-text{
    font-weight: 500;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    background-color: #E95A08;
    padding: 20px 50px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

/* header style */
header{
  margin: 50px 10%;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #252432;
    font-size: 1rem;
    font-weight: 400;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.banner-title{
    font-weight: 800;
    font-size: 3rem;
    color: #000;
}
/* main style */
/* plants style */
.plants{
  margin: 50px 10%;
}
.plants-text-area{
    text-align: center;
    width: 70%;
    margin: 100px auto;
}
.plants-title{
    font-size: 2.5rem;
    font-weight: 800;
}
/* plants card style */
.plants-card-area{
    display: grid;
    grid-template-columns: repeat(4 ,auto);
    gap: 20px;
}

.plants-card{
    text-align: center;
}
.plants-card img{
    width: 200px;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #111;
    margin: 20px;
}
.flower-price{
    font-size: 1.25rem;
    font-weight: 800;
    color: #111;
    margin: 20px;
}
/* lover content style */
.lover-content{
    display: flex;
    gap: 50px;
    margin: 150px 10% 0;
}
.lover-img-area{
    width: 50%;
}
.badge-img{
    width: 200px;
    transform: translate(20rem, -35rem);
}
.lover-bg-img{
    width: 90%;
}
.lover-text-area{
    width: 50%;
}
.lover-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #000;
    margin: 0;
}
.lover-text-area li{
    margin-top: 20px;
}
/* deals style */
.deals{
    margin: 0 10%;
}
.deals-text-area{
    text-align: center;
    width: 80%;
    margin: auto;
}
.deals-title{
    font-size: 2.5rem;
    font-weight: 800;
}
.deals-img-area{
    margin-top: 100px;
}
.deals-img-area h3{
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 800;
}
.deals-img-area a{
    color: #fff;
}
.deals-img-area{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#deal-bg-1{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 120px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
#deal-bg-2{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 120px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
#deal-bg-3{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

#deal-bg-3 h3{
    margin-top: 120px;
    font-size: 2rem;
    font-weight: 800;
}
/* join style */
.join{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    height: 300px;
}
.join-title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.join input{
    padding: 20px;
    width: 500px;
}
/* footer style */

footer{
    display: flex;
    justify-content: space-between;
    margin: 50px 10%;
}
.text-content{
    width: 30%;
}
.links{
    display: flex;
}
.links li{
    list-style: none;
    margin: 20px;
    color: rgba(107, 114, 128, 1);
}
.icons img{
    margin: 10px;
}

/* responsive for mobile device */
@media screen and  (max-width: 576px) {
    .nav-li{
        display: none;
    }
    header{
        margin: 10px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .plants{
        margin: 10px;
    }
    .plants-card-area{
        grid-template-columns: repeat(2 ,auto);
        gap: 10px;
    }
    .lover-content{
        flex-direction: column;
        gap: 10px;
        margin-top: 150px;
    }
    .lover-img-area{
        width: 100%;
    }
    .badge-img{
        display: none;
    }
    .lover-text-area{
        width: 100%;
    }
    .deals{
        margin: 10px;
    }
    .deals-img-area{
        grid-template-columns: repeat(1, auto);
    }
    #deal-bg-1, #deal-bg-2 ,#deal-bg-3{
        width: 400px;
        height: 200px;
    }
    .deal-img-card{
        margin-top: 20px;
    }
    #deal-bg-3 h3{
        margin-top: 50px;
        font-size: 1rem;
    }
    .join-title{
        font-size: 1.5rem;
    }
    .join input{
        width: 200px;
    }
    .join .btn-primary{
        padding: 20px 20px;
        font-size: 1rem;
    }
    footer{
        flex-direction: column;
        margin: 10px;
    }
    .text-content{
        width: 100%;
        margin: 0;
    }
    .links{
        flex-direction: column;
    }
    .links li{
        margin-left: 0;
        margin-top: 30px;
    }
    footer ul{
        margin: 0;
    }
} 